name: Generate Snake Animation

on:
  schedule:
    - cron: "0 */6 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Generate Snake
        uses: Platane/snk@v3
        with:
          github_user_name: murshadali
          outputs: dist/github-contribution-grid-snake.svg

      - name: Push Snake Animation to output branch
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          branch: output
          commit_message: "Generated Snake Animation"
          file_pattern: dist/github-contribution-grid-snake.svg
