name: generate snake

on:
  schedule:
    - cron: "0 */6 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Generate Snake SVG
        uses: Platane/snk/svg-only@v3
        with:
          github_user_name: murshadali
          outputs: dist/snake.svg

      - name: Push to output branch
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: "update snake animation"
          branch: output
          file_pattern: dist/snake.svg
